footer.footer
    .container 
        .row.align-items-center
            .col-12.col-xl-4
                a.footer-link-lg.text-center.text-xl-start.mt-30.mt-xl-0(href="#") Полные правила акции 
            .col-12.col-xl-4.order-first.order-xl-0
                +img('kabanos-logo-white.svg','','footer-logo mx-a')
            .col-12.col-xl-4.mt-30.mt-xl-0
                .social-icons 
                    a(href="#" target="_blank")
                        +img('icons/tg.svg','Телеграм','')
                    a(href="#" target="_blank")
                        +img('icons/youtube.svg','Youtube','')
                    a(href="#" target="_blank")
                        +img('icons/vk.svg','Youtube','')
                    a(href="#" target="_blank")
                        +img('icons/odnoklassniki.svg','Youtube','') 
        .row                
            .col-12
                a.footer-link-lg-blue.text-center.my-30.my-xl-50(href="#") help@kabanos-promo.ru
            .col-12
                a.footer-link.text-center(href="#") Согласие на обработку персональных данных
            .col-12.mt-16
                a.footer-link.text-center(href="#") Политика конфиденциальности
            .col-12.mt-50
                .par-14.footer-decs Общий срок проведения акции с 07 ноября 2023 года по 31 января 2024 года. Срок регистрации участников в акции, срок совершения покупок и регистрации чеков: с 07 ноября 2023 года по 08 января 2024 года. Акция проводится в розничных магазинах торговой сети «Монетка», продающих продукцию ТМ «МахеевЪ» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kupi-maheev.ru/. <br>Организатор акции – ООО «Ай-Экшн».